<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446658527649-58t4nc46ifk53deeo1oh9gj66gejc5ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446658527649-58t4nc46ifk53deeo1oh9gj66gejc5ca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>446658527649-9umn7t7k45n1rf4r9s7g5lct9sbb1fu9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Z-ExOlw_DtoL7wrAQ7GJEpNwWO_pj6c</string>
	<key>GCM_SENDER_ID</key>
	<string>446658527649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bufeotec.enchiladasapp</string>
	<key>PROJECT_ID</key>
	<string>app-enchiladas</string>
	<key>STORAGE_BUCKET</key>
	<string>app-enchiladas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446658527649:ios:03731948229eb713ba4be0</string>
	<key>DATABASE_URL</key>
	<string>https://app-enchiladas.firebaseio.com</string>
</dict>
</plist>